body {
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 320px;
  height: 350px;
  border: 1px solid #f1f1f1;
  box-shadow: 8px 8px 8px #747467;
  margin: 20px;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.flip-card-front {
  background: linear-gradient(180deg, #ffafbd, #c9ffbf);
  color: rgb(249, 245, 245);
}

.flip-card-back {
  background-color: rgb(14, 101, 187);
  color: white;
  transform: rotateX(180deg);
  justify-content: flex-start;
}
.flip-card-back > span {
  margin: 10px;
  padding: 4px 0px 4px;
  float: left;
}

.flip-card-back > span > progress {
  padding: 5px;
}

.rank {
  width: auto;
  background: #747467;
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 20px;
}
table {
  margin: 8px;
}

td {
  text-align: center;
  padding: 8px;
}
